<section class="container section">
  <div class="">
    <div>
      <p class="howIt__headline headline text-center">Как это работает</p>
    </div>
    <div class="howIt__list grid">
      <div class="howIt__item g-col-2 g-col-md-1 g-col-xl-3 d-flex d-xl-grid" *ngFor="let item of items">
        <img class="howIt__icon" alt="icon" [src]="item.icon">
        <div class="howIt__text-wrapper d-grid">
          <p class="howIt__item-headline headline">{{item.heading}}</p>
          <p class="howIt__item-body body">{{item.heading2}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
