.header {
  &__container {
    height: 80px;
  }

  &__logo {
    grid-column-gap: 9px;
  }

  &__logo-text {
    color: white;
    font-size: 20px;
    line-height: 24px;
  }

  &__burger {
    width: 62px;
    height: 62px;
  }

  &__links-wrapper {
    grid-column-gap: 24px;
  }

  &__link {
    text-wrap: nowrap;
    color: white;
    font-size: 16px;
    line-height: 28px;

    &:hover {
      text-decoration: underline;
    }
  }
}
