<header class="header__container container d-flex">
  <div class="grid w-100">
    <div class="g-col-2 g-col-xl-12 d-flex align-items-center justify-content-between">
      <div class="header__logo d-flex">
        <svg width="37" height="24" viewBox="0 0 37 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="25" cy="12" r="12" fill="#ECEFF2"/>
          <circle cx="12" cy="12" r="12" fill="#2A6CEA"/>
        </svg>
        <p class="header__logo-text headline-5">testLab</p>
      </div>
      <div>
        <div class="header__burger d-flex d-xl-none align-items-center justify-content-center">
          <svg width="22" height="12" viewBox="0 0 22 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="22" height="2" fill="white"/>
            <rect y="10" width="22" height="2" fill="white"/>
          </svg>
        </div>
        <div class="header__links-wrapper d-none d-xl-flex">
          <a [routerLink]="" class="body-16 header__link">Как это работает</a>
          <a [routerLink]="" class="body-16 header__link">3-й блок</a>
          <a [routerLink]="" class="body-16 header__link">Вопросы и ответы</a>
          <a [routerLink]="" class="body-16 header__link">Форма</a>
        </div>
      </div>
    </div>
  </div>
</header>
