<section class="section">
  <div class="accordion__container grid container">
    <h2 class="accordion__headline headline text-center g-col-2 g-col-xl-12">{{ heading }}</h2>
    <div *ngIf="items" class="g-col-2 g-col-xl-10 g-start-xl-2">
      <div class="accordion__item" [class.accordion__item_underlined]="!isFirst" *ngFor="let item of items, first as isFirst;">
        <il-accordion-item [heading]="item.heading" [content]="item.content"></il-accordion-item>
      </div>
    </div>
  </div>
</section>
