@import "./../../../styles/abstracts/_variables";

.survey {
  &__section {
    background-color: #F6F8FA;
    padding-bottom: 16px;
    padding-top: 16px;

    @media (min-width: $screen-md) {
      padding-bottom: 20px;
      padding-top: 20px;
    }
    @media (min-width: $screen-xl) {
      padding-bottom: 68px;
      padding-top: 68px;
    }
  }

  &__container {
    grid-row-gap: 20px;

    @media (min-width: $screen-xl) {
      grid-row-gap: 37px;
    }
  }

  &__item {
    grid-row-gap: 14px;

    @media (min-width: $screen-md) { grid-row-gap: 46px; }
    @media (min-width: $screen-xl) { grid-row-gap: 17px; }
  }

  &__heading {
    font-size: 18px;
    line-height: 32px;
  }

  &__content {
    font-size: 16px;
    line-height: 28px;
  }
}
