<section class="section">
  <div class="statistic__container container grid">
    <picture class="statistic__picture g-col-2 g-col-md-1 g-col-xl-6 d-flex justify-content-center">
      <source srcset="assets/images/statistic-1920-2x.png, assets/images/statistic-1920-2x.png 2x" media="(min-width: 1920px)">
      <source srcset="assets/images/statistic-768.png, assets/images/statistic-768-2x.png 2x" media="(min-width: 768px)">
      <source srcset="assets/images/statistic-375.png, assets/images/statistic-375-2x.png 2x" media="(min-width: 375px)">
      <source srcset="assets/images/statistic-320.png, assets/images/statistic-320-2x.png 2x" media="(min-width: 0px)">
      <img class="statistic__image h-100 w-100" src="">
    </picture>
    <div class="g-col-2 g-col-md-1 g-col-xl-6 statistic__text-wrapper d-grid">
      <p class="statistic__headline headline text-center">Круто, ты дошел до третьего блока</p>
      <p class="statistic__body body">
        63% опрошенных пользовались кредитами из-за того, что не могли покрыть непредвиденные расходы свыше 15 000 ₽.<br><br>
        Доступ к заработанным деньгам помогает отказаться от кредитов и экономить деньги на процентах и штрафах.
      </p>
    </div>
  </div>
</section>
