<il-header></il-header>
<section class="container home__welcome-container grid">
  <picture class="home__picture d-flex justify-content-center h-100 w-100 position-absolute">
    <source srcset="assets/images/skyscraper-1920.png, assets/images/skyscraper-1920-2x.png 2x" media="(min-width: 1920px)">
    <source srcset="assets/images/skyscraper-768.png, assets/images/skyscraper-768-2x.png 2x" media="(min-width: 768px)">
    <source srcset="assets/images/skyscraper-375.png, assets/images/skyscraper-375-2x.png 2x" media="(min-width: 375px)">
    <source srcset="assets/images/skyscraper-320.png, assets/images/skyscraper-320-2x.png 2x" media="(min-width: 0px)">
    <img class="home__image h-100 w-100" src="">
  </picture>
  <div class="home__welcome d-grid g-col-2 g-col-xl-12 justify-content-center">
    <div class="home__text-wrapper d-grid">
      <p class="home__headline headline text-center">Говорят, никогда не поздно сменить профессию</p>
      <p class="home__body body text-center">Сделай круто тестовое задание и у тебя получится</p>
    </div>
    <div class="d-grid justify-content-center">
      <button class="home__button">
        <p class="home__button-text headline">
          Проще простого!
        </p>
      </button>
    </div>
  </div>
</section>
<il-how-it-list></il-how-it-list>
<il-statistic></il-statistic>
<il-accordion
  [heading]="accordion.heading"
  [items]="accordion.items"
></il-accordion>
<il-survey
  [items]="items"
></il-survey>
<il-footer></il-footer>


